:root {
  --primary-colour-light: #b18388;
  --primary-colour-default: #904e55;
  --primary-colour-dark: #3a1f22;
  --primary-colour-light-rgba: 177, 131, 136;
  --primary-colour-dark-rgba: 58, 31, 34;

  --secondary-colour-light: #9a959b;
  --secondary-colour-default: #564e58;
  --secondary-colour-dark: #342f35;
  --secondary-colour-light-rgba: 154, 149, 155;
  --secondary-colour-dark-rgba: 52, 47, 53;

  --tertiary-colour-light: #d2cbb1;
  --tertiary-colour-default: #bfb48f;
  --tertiary-colour-dark: #605a48;

  --colour-light: #f2efe9;
  --colour-light-rgba: 242, 239, 233;

  --colour-dark: #252627;
  --colour-dark-rgba: 37, 38, 39;
}

$secondary-colour-light: #9a959b;
$secondary-colour-dark: #342f35;
