.card {
  height: 34rem;
  width: 28rem;
  position: relative;

  cursor: pointer;

  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;

  @include breakpoint(maxBreakOne) {
    height: 30rem;
    width: 24rem;
  }

  @include breakpoint(maxBreakThree) {
    height: 26rem;
    width: 20rem;
  }

  @include breakpoint(maxBreakSeven) {
    height: 34rem;
    width: 28rem;
  }

  &__side {
    width: 100%;
    transition: all 0.4s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
  }

  &__front {
    height: 100%;
    width: 100%;

    overflow: hidden;

    @include breakpoint(maxBreakFour) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &__back {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
      to right bottom,
      var(--tertiary-colour-light),
      var(--tertiary-colour-default)
    );
    color: var(--colour-dark);

    transform: rotateY(-180deg);

    @include flexColumn;
    gap: 1.4rem;

    @include breakpoint(maxBreakOne) {
      transform: rotateY(0) translateY(-15%);
      z-index: -1;
      justify-content: start;
      padding-top: 1rem;
    }

    @include breakpoint(maxBreakSeven) {
      transform: rotateY(0) translateY(-11%);
    }
  }

  &__name {
    font-size: 2.4rem;

    @include breakpoint(maxBreakOne) {
      font-size: 2rem;
    }

    @include breakpoint(maxBreakThree) {
      font-size: 1.6rem;
    }
  }

  &__title {
    @include breakpoint(maxBreakOne) {
      font-size: 1.4rem;
    }

    @include breakpoint(maxBreakThree) {
      font-size: 1rem;
    }
  }

  &__sub-title {
    font-size: 2rem;

    @include breakpoint(maxBreakOne) {
      font-size: 1.6rem;
    }

    @include breakpoint(maxBreakThree) {
      font-size: 1.2rem;
    }
  }

  &__prices {
    display: block;
    padding: 1rem;
    font-size: 1.8rem;
    text-align: center;
    width: 80%;
    border-top: 0.1rem solid var(--colour-dark);

    display: flex;
    justify-content: space-between;

    @include breakpoint(maxBreakOne) {
      padding: 0.4rem;
      font-size: 1.4rem;
    }

    @include breakpoint(maxBreakThree) {
      font-size: 1.2rem;
    }

    &-title {
      @include breakpoint(maxBreakThree) {
        font-size: 1.4rem;
      }
    }
  }

  &__img {
    &--1 {
      width: 100%;
    }

    &--2 {
      width: 100%;
      transform: translateY(-8rem);

      @include breakpoint(maxBreakOne) {
        transform: translateY(-4rem);
      }
    }

    &--3 {
      height: 100%;
      transform: translateX(-12rem);
    }
  }

  &:hover &__front {
    transform: rotateY(180deg);

    @include breakpoint(maxBreakOne) {
      transform: rotateY(0);
    }
  }

  &:hover &__back {
    transform: rotateY(0);

    @include breakpoint(maxBreakOne) {
      transform: rotateY(0) translateY(-15%);
    }
  }
}
