.link {
  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.2s;

  &:link,
  &:visited {
    color: var(--colour-light);
  }

  &:hover,
  &:active {
    color: var(--tertiary-colour-default);
    transform: scale(1.05);
  }
}
