*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Ovo', serif;
  color: var(--colour-dark);
  background-color: var(--colour-light);
}

.container {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}
