.header-aside {
  position: relative;
  width: 100%;
  justify-self: center;
  overflow: hidden;

  grid-row: 1/3;
  grid-column: 1/2;

  // background-image: url(/imgs/shop-large.jpg);

  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &__imgs {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

    display: flex;
    justify-content: center;
  }

  &__img {
    height: 180%;
    align-self: center;
  }

  &__text {
    width: 75%;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  &__title {
    color: var(--tertiary-colour-light);
    padding: 2rem;
    border-bottom: 0.1rem solid var(--colour-light);
  }

  &__blurb {
    margin-bottom: 2rem;
    line-height: 1.8;
    color: var(--colour-light);
  }

  &__btn {
    font-family: inherit;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 2rem 3rem;
  }
}
